/**
 * Variables - Colors
 */

/** SCSS Variables */
$color-black : #010101;
$color-white : #F9F9F9;
$color-blue  : #7CACBA;

/** CSS Variables */
:root {
  --color-main    : #010101;
  --color-diap    : #F9F9F9;
  --color-primary : #7CACBA;
}
